@using DB.chinacfoclub
@{
    ViewBag.Title = "Index";


}

<h2>@ViewBag.msg 列表</h2>
<p><img src="/home/CreateValidate" alt="Alternate Text" /></p>
<p><img src="/home/createimageverify" alt="Alternate Text" /></p>
<p><img src="/home/CreateImageCode" alt="Alternate Text" /></p>

<table border="1">
    <tr>
        <td>id</td>
        <td>标题</td>
        <td>操作</td>
    </tr>
    @foreach (var item in CYQ.Data.Orm.DBFast.Select<KS_Article>(10,"deltf=0"))
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Title</td>
            <td nowrap><a href="/home/articleDel/@item.ID">删除</a></td>
        </tr>

    }






</table>
<p><img src="/home/getqr?url=http://m.981china.com" alt="Alternate Text" /></p>